/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  /* background-color: #f9f9f9; */
  background-color: #414141;
}

container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header nav ul button {
  background-color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
  font-size: larger;
}

header nav ul button a {
  color: mediumspringgreen;
}

header nav ul button a:hover {
  /* background-color: #444; */
  color: #00a761;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav li {
  margin-right: 100px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #ccc;
}

header nav a.active {
  font-weight: bold;
  color: mediumspringgreen;
}

/* Main Content Styles */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 1em; */
  /* height: 100%; */
  flex: 1;
}

main section {
  background-color: #fff;
  padding: 1em;
  margin: 0em 12em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  flex: 1;
}

.hidden {
  display: none;
}

main div button {
  font-size: large;
  color: mediumspringgreen;
  background-color: #414141;
  padding: 8px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

main div button:hover {
  color: #00a761;
  background-color: #333;
}

.center {
  text-align: center;
}
 
/* Course-adding form */

.course-form, .article-form, .test-form, .questions-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-form input, .article-form input, .test-form input, .questions-form input, .course-form textarea, .article-form textarea, .test-form textarea, .questions-form textarea {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.course-form textarea, .article-form textarea, .test-form textarea, .questions-form textarea {
  height: 100px;
  font-size: large;
}

.course-form button[type="submit"], .article-form button[type="submit"], .test-form button[type="submit"], .questions-form button[type="submit"] {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #414141;
  color: mediumspringgreen;
  cursor: pointer;
}

.course-form button[type="submit"]:hover, .article-form button[type="submit"]:hover, .test-form button[type="submit"]:hover, .questions-form button[type="submit"]:hover {
  background-color: #333;
  color: #00a761;
}

/* Footer Styles */

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Table Styles */

table {
  border-collapse: collapse; /* Объединяет границы ячеек в одну */
  padding: 0.5em;
}

table td, table th {
  border: 1px solid mediumspringgreen;
  color: white;
  background: #414141;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td a {
  color: mediumspringgreen;
  padding: 8px;
  margin-top: 0.5em;
  cursor: pointer;
}

table td a:hover {
  color: #00a761;
}