.header {
    background-color: #333;
    width: 100%;
    height: auto; /* Фиксированная высота шапки */
    padding: 20px;
    font-size: 28px;
    color: #4CAF50;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}
.header .links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Кнопки будут оборачиваться, если не поместятся в одну строку */
    justify-content: center; /* Центрируем ссылки */
    margin-top: 10px;
}
.header .links a.login:hover {
    background-color: darkgreen;
    color: white;
}
.header .links a.logout:hover {
    background-color: darkgreen;
    color: white;
}
.header .links a.logout:hover {
    background-color: forestgreen; /* Более темный цвет при наведении */
    transform: translateY(-2px); /* Эффект поднятия кнопки */
}
.header .links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px 15px;
    border: 2px solid #4CAF50;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}
.header .links a:hover {
    background-color: #4CAF50;
    color: white;
}