<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
    
</head>
<body>
    <!-- Header Section -->
     <container>
        <header>
            <nav>
                <ul>
                    <button><a href="/home">ПравоТворчества</a></button>
                    <li><a href="#" data-target="#courses" class="menu active">Courses</a></li>
                    <li><a href="#" data-target="#users" class="menu">Users</a></li>
                    <li><a href="#" data-target="#settings" class="menu">Settings</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main Content Section -->
        <main>
            <section id="courses">
                <h1>Courses</h1>
                <p>This is the courses section.</p>
                <div class="courses_list"></div>
            </section>
            
            <section id="users" class="hidden">
                <h1>Users</h1>
                <p>This is the users section.</p>
                <div class="users_list"></div>
            </section>
            
            <section id="settings" class="hidden">
                <h1>Settings</h1>
                <p>This is the settings section.</p>
            </section>


        </main>

        <!-- Footer Section -->
        <footer>
            <p>Admin Panel</p>
        </footer>
    </container>
<script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>