<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>правовая поддержка</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/courses-details.css">
</head>
<body>
<div class="header">
  <div class="title">правовая поддержка</div>
  <div class="links">
    <a href="/home">Главная</a>
    <a href="/profile">Профиль</a>
    <a href="/courses">Курсы</a>
  </div>
</div>

<div class="content">
  <div class="article-container" id="article-container">
    <!-- Сюда будет загружаться динамическая статья -->
  </div>

  <!-- Добавляем кнопку вне article-container -->
  <div class="return-button-container">
    <button class="return-button" id="return-button">Вернуться к курсу</button>
  </div>
</div>

<div class="footer">
  <footer>
    <span style="color: #4CAF50;">©️ правовая поддержка 2024</span>
  </footer>
  <a href="/report-issue"><b>Обратная связь</b></a>
</div>
<script>
  function getCourseIdFromUrl() {
    const urlPath = window.location.pathname;
    const parts = urlPath.split('/');
    return {
      courseId: parts[2],
      articleId: parts[4]
    };
  }

  async function loadArticle() {
    const { articleId } = getCourseIdFromUrl();
    if (!articleId) {
      console.error('Не удалось извлечь идентификатор статьи из URL');
      return;
    }

    try {
      const response = await fetch(`/api/v1/articles/get/${articleId}`);
      if (response.ok) {
        const article = await response.json();
        renderArticle(article);
      } else {
        console.error('Ошибка при загрузке статьи:', response.status);
      }
    } catch (error) {
      console.error('Ошибка при загрузке статьи:', error);
    }
  }

  function renderArticle(article) {
    const articleContainer = document.getElementById('article-container');
    articleContainer.innerHTML = ''; // Очищаем предыдущий контент

    // Создаем содержимое статьи
    const articleContent = document.createElement('div');
    articleContent.className = 'article-card';

    articleContent.innerHTML = `
            <h3 class="article-title">${article.title}</h3>
            <div class="article-content">${article.content}</div>
        `;

    // Добавляем содержимое статьи в articleContainer
    articleContainer.appendChild(articleContent);
  }

  // Добавляем обработчик события для кнопки
  document.getElementById('return-button').addEventListener('click', () => {
    const { courseId } = getCourseIdFromUrl();
    window.location.href = `/courses/${courseId}`;
  });

  loadArticle();
</script>
</body>
</html>