<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/courses-details.css">
    <title>правова поддержка<</title>
</head>
<body>
<div class="header">
    <div class="title">правовая поддержка</div>
    <div class="links">
        <a href="/home">Главная</a>
        <a href="/profile">Профиль</a>
        <a href="/courses">Курсы</a>
<!--        <a href="/logout" class="logout">Выйти</a>-->
    </div>
</div>

<div class="content">
    <div id="certificateModal" class="modal">
        <div class="modal-content">
            <p>Сертификат будет выслан на вашу почту при прохождении всех тестов в рамках данного курса с правильностью от 80% и выше. Если не получилось пройти тест с первого раза, вы всегда можете попробовать снова!</p>
            <button class="close-btn" id="closeModalBtn">Закрыть</button>
        </div>
    </div>
    <div class="course-container" id="course-container">
        <!-- Информация о курсе будет загружена сюда -->
    </div>
</div>

<div class="footer">
    <footer>
        <span style="color: #4CAF50;">©️ правовая поддержка 2024</span>
    </footer>
    <a href="/report-issue"><b>Обратная связь</b></a>
</div>

<script>
    let userId = null; // Глобальная переменная для хранения ID пользователя

    function getCourseIdFromUrl() {
        const urlPath = window.location.pathname;
        const courseId = urlPath.split('/').pop();
        return courseId;
    }

    async function loadUserId() {
        try {
            const response = await fetch('/api/v1/user/get/current');
            if (response.ok) {
                const user = await response.json();
                userId = user.id; // Сохраняем ID пользователя
            } else {
                console.error('Ошибка при загрузке информации о пользователе:', response.status);
            }
        } catch (error) {
            console.error('Ошибка при загрузке информации о пользователе:', error);
        }
    }

    async function loadCourse() {
        const courseId = getCourseIdFromUrl();
        if (!courseId) {
            console.error('Не удалось извлечь идентификатор курса из URL');
            return;
        }

        try {
            const response = await fetch(`/api/v1/courses/get/${courseId}`);
            if (response.ok) {
                const course = await response.json();
                await renderCourse(course);
            } else {
                console.error('Ошибка при загрузке курса:', response.status);
            }
        } catch (error) {
            console.error('Ошибка при загрузке курса:', error);
        }
    }

    async function checkEnrollment(courseId) {
        try {
            const response = await fetch(`/api/v1/courses/is-user-enrolled?userId=${userId}&courseId=${courseId}`);
            if (response.ok) {
                return await response.json();
            } else {
                console.error('Ошибка при проверке записи на курс:', response.status);
            }
        } catch (error) {
            console.error('Ошибка при проверке записи на курс:', error);
        }
        return false;
    }

    async function renderCourse(course) {
        const courseContainer = document.getElementById('course-container');
        courseContainer.innerHTML = '';

        const courseDetails = document.createElement('div');
        courseDetails.className = 'course-details';
        courseDetails.innerHTML = `
        <h3>${course.name}</h3>
        <p>${course.description}</p>
        <button id="enroll-btn">Записаться на курс</button>
        <span class="certificate-link" id="certificateLink">Условия получения сертификата</span>
        <!-- Добавленная дата актуальности -->
        <p class="course-date">Информация в статьях актуальна на: 21.10.2024</p>
        `;
        courseContainer.appendChild(courseDetails);

        document.getElementById('certificateLink').addEventListener('click', () => {
            document.getElementById('certificateModal').style.display = 'block';
        });

        document.getElementById('closeModalBtn').addEventListener('click', () => {
            document.getElementById('certificateModal').style.display = 'none';
        });

        // Проверка на наличие записи на курс
        const isEnrolled = await checkEnrollment(course.id);
        if (isEnrolled) {
            document.getElementById('enroll-btn').innerText = 'Вы записаны на курс';
            document.getElementById('enroll-btn').disabled = true; // Делаем кнопку недоступной
        } else {
            document.getElementById('enroll-btn').addEventListener('click', async () => {
                await enrollInCourse(course.id);
            });
        }

        // Объединение тестов и статей в один массив
        const combinedItems = [
            ...course.testing_ids.map(testing => ({
                type: 'test',
                id: testing.id,
                header: testing.header,
                display_order: testing.display_order
            })),
            ...course.article_ids.map(article => ({
                type: 'article',
                id: article.id,
                header: article.header || 'Без заголовка',
                display_order: article.display_order
            }))
        ];

        // Сортировка по display_order
        combinedItems.sort((a, b) => a.display_order - b.display_order);

        // Создание списка внутри courseDetails
        const itemList = document.createElement('ul');
        itemList.className = 'item-list';

        combinedItems.forEach((item, index) => {
            const listItem = document.createElement('li');

            const itemLink = document.createElement('a');
            itemLink.href = isEnrolled
                ? (item.type === 'test'
                    ? `/courses/${course.id}/testings/${item.id}`
                    : `/courses/${course.id}/articles/${item.id}`)
                : '#';
            itemLink.className = isEnrolled ? '' : 'disabled-link'; // Ссылка недоступна, если не записан
            itemLink.style.pointerEvents = isEnrolled ? 'auto' : 'none'; // Блокируем клик, если не записан
            itemLink.style.color = isEnrolled ? 'inherit' : 'gray'; // Цвет, если ссылка активна
            itemLink.style.display = 'block'; // Чтобы ссылка заполнила весь элемент списка

            const itemIndex = document.createElement('span');
            itemIndex.className = 'item-index';
            //itemIndex.textContent = `${index + 1}.`;

            const itemHeader = document.createElement('span');
            itemHeader.className = 'item-header'; // Добавляем класс для заголовка
            itemHeader.textContent = item.header;


            const itemType = document.createElement('span');
            itemType.className = 'item-type';
            itemType.textContent = item.type === 'test' ? ' Тест' : ' Статья';

            itemLink.appendChild(itemIndex);
            itemLink.appendChild(itemHeader);
            itemLink.appendChild(itemType);

            listItem.appendChild(itemLink);
            itemList.appendChild(listItem);
        });

        courseDetails.appendChild(itemList);
    }

    function enableCourseItems() {
        const itemLinks = document.querySelectorAll('.item-list a');
        itemLinks.forEach(link => {
            link.style.pointerEvents = 'auto'; // Разблокируем ссылки
            link.style.color = ''; // Убираем серый цвет (возвращаем дефолтный)
        });
    }

    async function enrollInCourse(courseId) {
        try {
            const response = await fetch(`/api/v1/courses/subscribe`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    user_id: userId,
                    course_id: courseId,
                }),
            });

            if (response.ok) {
                document.getElementById('enroll-btn').innerText = 'Вы записаны на курс';
                document.getElementById('enroll-btn').disabled = true; // Делаем кнопку недоступной
                await loadCourse();
                //enableCourseItems();
            } else {
                alert('Ошибка при записи на курс');
            }
        } catch (error) {
            alert('Произошла ошибка при записи на курс');
        }
    }

    document.addEventListener('DOMContentLoaded', async () => {
        // Закрытие модального окна при клике вне его
        window.addEventListener('click', (event) => {
            const modal = document.getElementById('certificateModal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });

        await loadUserId();
        await loadCourse();
    });
</script>
</body>
</html>
