<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css">
    <title>Forbidden</title>
</head>
<body>
<div class="header">
    <div class="title">Курсы</div>
    <div class="links">
        <a href="/home">Главная</a>
        <a href="/profile">Профиль</a>
        <a href="/courses">Курсы</a>
        <a href="/logout" class="logout">Выйти</a>
    </div>
</div>

<div class="content error-content">
    <h1>Доступ запрещен :(</h1>
    <p>Кажется, у тебя недостаточно прав для данного контента</p>
    <p><a href="/home" class="error-btn">На главную</a></p>
</div>

<div class="footer">
    <a href="/report-issue"><b>Обратная связь</b></a>
</div>
</body>
</html>
