<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/testings.css">
    <title>Тестирование</title>
</head>
<body>
<div class="header">
    <div class="title">Тестирование</div>
    <div class="links">
        <a href="/home">Главная</a>
        <a href="/profile">Профиль</a>
        <a href="/courses">Курсы</a>
        <a href="/logout" class="logout">Выйти</a>
    </div>
</div>

<div class="content">
    <div class="testing-container" id="testing-container">
        <!-- Информация о тестировании и вопросы будут загружены сюда -->
    </div>
    <div class="submit-button-container">
        <button class="submit-button" id="submit-button" onclick="validateAndSubmit()">Отправить</button>
    </div>
</div>

<div class="footer">
    <a href="/report-issue"><b>Обратная связь</b></a>
</div>

<script>
    function getCourseIdFromUrl() {
        const urlPath = window.location.pathname;
        const parts = urlPath.split('/');
        return {
            courseId: parts[2],
            testingId: parts[4]
        };
    }

    async function loadTesting() {
        const { testingId } = getCourseIdFromUrl();
        if (!testingId) {
            console.error('Не удалось извлечь идентификатор тестирования из URL');
            return;
        }

        try {
            const response = await fetch(`/api/v1/test/get/${testingId}`);
            if (response.ok) {
                const testing = await response.json();
                renderTesting(testing);
                await loadQuestions(testing.question_ids);
            } else {
                console.error('Ошибка при загрузке тестирования:', response.status);
            }
        } catch (error) {
            console.error('Ошибка при загрузке тестирования:', error);
        }
    }

    async function loadQuestions(questionIds) {
        const testingContainer = document.getElementById('testing-container');
        testingContainer.innerHTML += '<h3>Вопросы:</h3>';

        for (const questionId of questionIds) {
            try {
                const response = await fetch(`/api/v1/questions/get/${questionId}`);
                if (response.ok) {
                    const question = await response.json();
                    renderQuestion(question);
                } else {
                    console.error('Ошибка при загрузке вопроса:', response.status);
                }
            } catch (error) {
                console.error('Ошибка при загрузке вопроса:', error);
            }
        }
    }

    function renderTesting(testing) {
        const testingContainer = document.getElementById('testing-container');
        testingContainer.innerHTML = `
          <div class="testing-details">
            <h3>${testing.name}</h3>
            <p>${testing.description}</p>
          </div>
        `;
    }

    let userId; // Объявление переменной

    async function fetchUserId() {
        try {
            const response = await fetch('/api/v1/user/get/current');
            if (response.ok) {
                const userData = await response.json();
                userId = userData.id; // Получаем id пользователя
            } else {
                console.error('Ошибка при загрузке данных пользователя:', response.status);
            }
        } catch (error) {
            console.error('Ошибка при загрузке данных пользователя:', error);
        }
    }

    let userAnswers = {}; // Хранение ответов пользователя

    function renderQuestion(question) {
        console.log('Вопрос:', question); // Отладочное сообщение для проверки вопроса
        const testingContainer = document.getElementById('testing-container');
        const questionBlock = document.createElement('div');
        questionBlock.className = 'question-block';

        // Проверка options на наличие недопустимых значений
        console.log('Опции вопроса:', question.options);

        // Создаем элемент заголовка
        const questionTitle = document.createElement('h4');
        questionTitle.textContent = question.question_text;

        // Создаем форму
        const form = document.createElement('form');
        form.id = `question-${question.id}`;

        // Создаем фрагмент документа для улучшения производительности
        const fragment = document.createDocumentFragment();

        question.options.forEach((option, index) => {
            const optionContainer = document.createElement('div');

            const radioInput = document.createElement('input');
            radioInput.type = 'radio';
            radioInput.id = `option-${index}-${question.id}`;
            radioInput.name = `question-${question.id}`;
            radioInput.value = option.id;

            radioInput.addEventListener('change', () => {
                handleAnswerChange(question.id, option.id);
            });

            const label = document.createElement('label');
            label.setAttribute('for', `option-${index}-${question.id}`);
            label.textContent = option.option_text;

            // Добавляем элементы в контейнер опции
            optionContainer.appendChild(radioInput);
            optionContainer.appendChild(label);
            fragment.appendChild(optionContainer);
        });

        // Добавляем заголовок и фрагмент в форму
        form.appendChild(questionTitle);
        form.appendChild(fragment);

        // Добавляем форму в блок вопроса
        questionBlock.appendChild(form);

        // Добавляем блок вопроса в контейнер
        testingContainer.appendChild(questionBlock);
    }

    function handleAnswerChange(questionId, optionId) {
        console.log(`Выбранный ответ: вопрос ID ${questionId}, вариант ID ${optionId}`); // Отладочное сообщение
        userAnswers[questionId] = optionId; // Сохраняем выбранный ответ
    }


    async function validateAndSubmit() {
        const questionBlocks = document.querySelectorAll('.question-block form');
        let allAnswered = true;

        questionBlocks.forEach(form => {
            const options = form.querySelectorAll('input[type="radio"]');
            const isChecked = Array.from(options).some(option => option.checked);
            if (!isChecked) {
                allAnswered = false;
            }
        });

        if (allAnswered) {
            const ids = getCourseIdFromUrl();
            const submitData = {
                user_id: userId,
                test_id: ids.testingId,
                course_id: ids.courseId,
                user_answers: Object.entries(userAnswers).map(([questionId, optionId]) => ({
                    question_id: questionId,
                    option_id: optionId
                })),
            };

            console.log('Данные для отправки:', submitData);
            console.log('Массив ответов: ', userAnswers);

            try {
                const response = await fetch('/api/v1/user-ans/submit-test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(submitData),
                });

                const data = await response.json();
                if (!response.ok) {
                    throw new Error(data.message || 'Ошибка при отправке теста');
                }
                //alert('Ответы успешно отправлены.');
                freezeQuestionsAndShowCorrectAnswers(data.options);
            } catch (error) {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при отправке теста: ' + error.message);
            }
        } else {
            alert('Пожалуйста, выберите вариант ответа на каждый вопрос.');
        }
    }


    function freezeQuestionsAndShowCorrectAnswers(options) {
        const questionBlocks = document.querySelectorAll('.question-block form');

        // Блокируем выбор вариантов для всех вопросов
        questionBlocks.forEach(form => {
            const inputs = form.querySelectorAll('input[type="radio"]');
            inputs.forEach(input => {
                input.disabled = true; // Замораживаем выбор вариантов
            });
        });

        // Подсвечиваем ответы в зависимости от правильности
        options.forEach(option => {
            const questionBlock = document.querySelector(`#question-${option.question_id}`);
            if (questionBlock) {
                const answerOption = questionBlock.querySelector(`input[value="${option.option_id}"]`);

                // Проверяем, является ли ответ правильным
                if (option.correct) {
                    answerOption.parentElement.style.backgroundColor = "#D4EDDA"; // Подсветить правильный вариант
                } else {
                    answerOption.parentElement.style.backgroundColor = "#F8D7DA"; // Подсветить неверный вариант
                }

                // Если это вариант, который выбрал пользователь, подсвечиваем его
                if (userAnswers[option.question_id] === option.option_id) {
                    if (!option.correct) {
                        answerOption.parentElement.style.backgroundColor = "#F8D7DA"; // Подсветить неверный вариант
                    }
                }
            }
        });
    }


    fetchUserId();
    loadTesting();
</script>
</body>
</html>
